.clado{
    position: relative;
    text-align: center;
    padding: 32px;
}

.clado h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-color{
    position: absolute;
    right: 20px;
    top: 20px;
}