.card-body{
    position: relative;
    width: 280px;
    margin: 10px;
}

.card-body{
    background-color:  #F0F0F0;
    border-radius: 10px 10px 10px 10px;
}

.card-head{
    border-radius: 10px 10px 0  0;
}


.card-body img{
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.card-info{
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.card-info h4{
    color: #FD9651;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-info p{
    color: #494949;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.close-button{
    position: absolute;
    top: 5px;
    left: 240px;
}

